@model ShootingWebAgent.Controllers.MatchController.MatchInputModel

@{
    ViewData["Title"] = "Create Match";
}

<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <h1>@ViewData["Title"]</h1>
            <form asp-action="Create" id="form">
                <hr/>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="@Model.MatchName"></label>
                    <input asp-for="@Model.MatchName" class="form-control"/>
                    <span asp-validation-for="@Model.MatchName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.SessionCount"></label>
                    <input asp-for="@Model.SessionCount" class="form-control"/>
                    <span asp-validation-for="@Model.SessionCount" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.ShotsPerSession"></label>
                    <input asp-for="@Model.ShotsPerSession" class="form-control"/>
                    <span asp-validation-for="@Model.ShotsPerSession" class="text-danger"></span>
                </div>
                <div id="teamInputsContainer">
                    @Html.EditorFor(model => model.TeamInputs)
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary"/>
                    <a asp-action="Index" style="text-decoration: none">
                        <button type="button" class="btn btn-dark">Back to List</button>
                    </a>
                    |
                    <input class="btn btn-success btnAdd" type="button" onclick="btnAdd()" value="Add Team"/>
                    <input class="btn btn-warning btnDelete" type="button" onclick="btnDelete()" value="Delete Team"/>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
function btnAdd() {
    $.ajax({
        async: true,
        data: $('#form').serialize(),
        type: "POST",
        cache: false,
        url: '/Match/AddTeam/' + $('.counter').length,
        success: function (partialView) {
            $('#teamInputsContainer').html(partialView);
        }
    });
}

function btnDelete() {
    $.ajax({
        async: true,
        data: $('#form').serialize(),
        type: "POST",
        cache: false,
        url: '/Match/DeleteTeam/',
        success: function (partialView) {
            $('#teamInputsContainer').html(partialView);
        }
    });
}
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}