@model IEnumerable<ShootingWebAgent.Controllers.UserController.InputModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="h1 text-primary">User Table</h1>
<h4 class="h4">Saved User: @Model.Count()</h4>
<p>
    <a asp-action="Create" style="text-decoration: none">
        <button class="btn btn-dark">Create New</button>
    </a>
</p>
<table class="table table-hover table-responsive-sm">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnd)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsAdministrator)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsPremiumUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsTrialUser)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsAdministrator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPremiumUser)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsTrialUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" style="text-decoration: none">
                    <button class="btn btn-primary">Edit</button>
                </a>
                <a asp-action="Details" asp-route-id="@item.Id" style="text-decoration: none">
                    <button class="btn btn-dark">Details</button>
                </a>
                <a asp-action="Delete" asp-route-id="@item.Id" style="text-decoration: none">
                    <button class="btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>